<!DOCTYPE html>
<html>
  <head>
    <title>DialogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <p><%= link_to("トップへ戻る", "/") %><p>
  </footer>
</html>
